<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Crossover Project Evaluation</h3>
          </div>
        </div>

        <div class="inner cover">
        <% if notice %>
          <div role="alert" class="col-sm-12 alert alert-primary alert-dismissible fade in">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button">
              <span aria-hidden="true">×</span>
            </button>
            <p>
              <%= notice %>
            </p>
          </div>
        <% end %>



        <h1 class="cover-heading">Insert your email to get your api key</h1>
        <p class="lead">Cloud monitoring application in Amazon Cloud</p>
        <p class="lead">
          <%= form_for(@api_key, url: root_path, html: { method: :post, class: "form-signin" }) do |f| %>

            <% if @api_key.errors.any? %>
              <div role="alert" class="col-sm-12 alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                  <span aria-hidden="true">×</span>
                </button>
                <p>
                  <ul>
                  <% @api_key.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </p>
              </div>
            <% end %>

            <div class="btn-group" role="group">
              <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control" %>
            </div>
            <div class="btn-group" role="group">
              <%= f.button "Get Api Key", class: "btn btn-primary" %>
            </div>
          <% end %>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>