Hi <%= @user.email %>
Here are your credentials
NOTICE: Use these credentials in monitor app: http://<%= @url[3][0] %>:82 by clicking in + New Server menu option and fill in the form.
Server URL: <%= @url[2] %>
API Auth Token: <%= @user.access_token %>