<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Here are your credentials
    </p>
    <strong>NOTICE:</strong> Use these credentials in monitor app: http://<%= @url[3][0] %>:82 by clicking in + New Server menu option.
    <p>
      <strong>Server URL: </strong> <input style="width: 350px" type="text" value="<%= @url[2] %>" readonly> <br>
      <strong>API Auth Token: </strong> <input style="width: 350px" type="text" value="<%= @user.access_token %>" readonly>
    </p>
  </body>
</html>